[submodule "3rdparty/drogon"]
	path = 3rdparty/drogon
	url = https://github.com/drogonframework/drogon.git
[submodule "3rdparty/magic_enum"]
	path = 3rdparty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
